<template>
  <div id="app" class="container-fluid">
    <div class="col-sm-12 text-center">
      <nav>
        <div class="text-left py-0">
          <h1>{{ pageTitle }}</h1>
        </div>
        <div>
          <ul>
            <li v-for="(page, index) in pages" :key="index">
              <a v-bind:class="{'not-active' : page.status == 'disabled', 'active-a' : selected == page.page}" 
                href="#" v-on:click.prevent="getPage(page.page)" 
                :selected="page.page == pageActive ? 'selected' : ''">
                {{ page.page }}
              </a>
            </li>
            <li>
              <a v-bind:class="{'active-a' : selected == 'verTodo'}" href="#" 
                v-on:click.prevent="getPage('verTodo')">
                Ver Todo
              </a>
            </li>
          </ul>
        </div>

        <div class="col-xs-12 invisible" size="sm">
          <b-form-select v-model="selected" v-on:input="getPage(selected)">
            <option v-for="(page, index) in pages" 
                  :key="index" 
                  :disabled="page.status == 'disabled'" 
                  :value="page.page" 
                  :selected="page.page == pageActive ? 'selected' : ''">
                  {{page.page}}
            </option>
            <option value="verTodo">Ver todos</option>
          </b-form-select>
        </div>
      </nav>
    </div>

    <div class="col-lg-12 container-fluid mx-0">
      <div  class="row mx-auto">
        <div class="card-deck mx-auto">
          <div v-for="(item, key) in items" :key="key" class="col-lg-3 col-md-4 col-sm-6 col-xs-3 mx-0 px-0">
            <div class="card mb-4 mx-auto">
              <img class="card-img-top img-card img-fluid" :src="item.imageURL" :alt="item.nick">
              <div class="card-img-overlay">
                <h5 class="card-title">{{ item.nick }}</h5>
                <small class="card-text">{{item.name}}</small>
                <small class="card-text">{{item.surname}}</small>
                <div v-for="(role, index) in item.roleLink" :key="index">              
                  <b-badge v-if="index=='URL'" 
                          pill 
                          variant="light" 
                          :href="item.roleLink.URL" 
                          :target="item.roleLink.target">
                          {{item.role}}
                  </b-badge>
                </div>    
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-12 text-center p-3">
      <b-button class="btn-greenyellow">{{ viewMore }}</b-button>
    </div>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'app',
  created: function () {
    this.getData()
  },
  data () {
    return {
      pageTitle: '',
      viewMore: '',
      items: {},
      selected: null,
      pages: {},
      pageActive: 'verTodo'
    }
  },
  methods: {
    getData: function () {
      var url = './static/datas.json'
      axios.get(url).then(response => {
        this.pageTitle = response.data.pageTitle
        this.viewMore = response.data.viewMoreLabel

        let pagesAux = ['0', '1', '2', '3', '4','5', '6', '7', '8', '9', 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'Ñ', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']
        let pages = []
        let items = response.data.items
        let actives = []
        let numbersIsEnabled = 0
        let i = 0

        items.forEach(element => {
          actives.push(element.nick.charAt(0).toUpperCase());
        });

        pagesAux.forEach(page => {
          let flag = 0
          actives.forEach(pageActive => {
            if (page === pageActive) {
              flag = 1
            }
          })
          if (flag == 1) {
            pages[i]= {
              'page' : page,
              status: 'enabled'
              }
          }else{
            pages[i]= {
              'page' : page,
              status: 'disabled'
              }
          }
          i++
        });
        
        for (let index = 0; index < 10; index++) {
          const element = this.pages[index];
          if (element == 'enabled') {
            numbersIsEnabled = 1
          }
        }

        pages.splice(0,10)

        if (numbersIsEnabled == 1) {
          pages.unshift({
            page: '0-9',
            status : 'enabled'
            })
        }else{
          pages.unshift({
            page: '0-9',
            status : 'disabled'
            })
        }
        this.pages = pages

        items.forEach(element => {
          this.imgURL(element)
        })
        this.items = items
        this.selected = 'verTodo'
      })
    },
    getPage: function (page) {
      var url = './static/datas.json'
      axios.get(url).then(response => {
        let items = {}
        if (page == 'verTodo') {
          items = response.data.items
        }else{
          page = page.toUpperCase()
          items = response.data.items.filter(item => item.nick.charAt(0).toUpperCase() == page)
        }
        items.forEach(element => {
          this.imgURL(element)
        })
        this.items = items
      })
      this.selected = page
      
    },
    imgURL: function (item) {
      if (!item.hasOwnProperty('imageURL')) {
        item.imageURL = './src/assets/fake-image-player-V.jpg'
      }
      
      return item
    }
  }
}
</script>

<style>
* {
      margin: 0;
      padding: 0;
    }
body {
  background: #333
}
#app {
  background: #333;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: left;
  color: #fff;
  margin-top: 10px;
  width: 100%;
  font-size: 14px
}

h1, h2 {
  width: 990px;
  font-weight: normal;
  font-size: 22px;
  text-transform: uppercase
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 0px;
  
}

a {
  color: #fff;
  padding: 5px 5px;
  text-decoration: none;
}
a:hover {
  color:#fff;
  text-decoration: none;
}
a:active {
  color:#333;
  background-color: greenyellow;
  border-radius: 1px;
}
.active-a {
  color:#333;
  background-color: greenyellow;
  border-radius: 1px;
}
nav {
      background: #333;
      display: block;
      width: 990px;
      margin: 10px auto;
      text-align: center;
      width: 100%
}
.btn-greenyellow {
  text-transform: uppercase;
  background-color: greenyellow;
  border-color: greenyellow;
  color:#333
}

.custom-select, .custom-select:focus, select option {
  background-color: #444;
  color: #fff;
  border: 0px;
  line-height: 0px;
}

.not-active {
  pointer-events: none;
  cursor: default;
  color: #666
}

.card-deck{
  max-width: 990px;
  text-align: center;
}

.card-img-top{
  width: 100%;
  max-width: 100%;
  height:auto;
}

.card {
  width:200px;
  max-width: 200px;
  height:auto;
  border: 0px;
}

.badge-light {
  color: #fff;
  background-color: transparent;
  border: 1px solid white;
}

.img-card {
  filter: brightness(50%);
}

@media (max-width: 980px) {
  nav ul     { display: none; }
  nav select { visibility: visible }
}

@media (max-width: 575px) {

}
</style>
